body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Metamask Button */
/* .MetamaskButtonRoot {} */

    
.networkButtonStatus {
  color: green;
  font-size: 12px;
  position: relative !important;
  top: 6px;
  right: -52px;
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.dbSpin-animation {
	animation: rotation .6s infinite linear;
	opacity: .8;
}

.dbSpin-normal {
  
}
